<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="ap-local-base-url" content="{{localBaseUrl}}">
    <title>{{title}}</title>
    <!--&lt;!&ndash;[if IE 9]><link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.8.12/css/aui-ie9.css" media="all"><![endif]&ndash;&gt;-->
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.18/css/aui.min.css" media="all">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.11.3/jquery-ui.min.js"   integrity="sha256-xI/qyl9vpwWFOXz7+x/9WkG5j/SVnSw21viy8fWwbeE="   rossorigin="anonymous"></script>
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.18/js/aui.min.js"></script>
    <link rel="stylesheet" href="//aui-cdn.atlassian.com/aui-adg/5.9.18/css/aui-experimental.min.css" media="all">
    <script src="//aui-cdn.atlassian.com/aui-adg/5.9.18/js/aui-experimental.min.js"></script>
    <script src="{{hostScriptUrl}}" type="text/javascript"></script>
    
    <link rel="stylesheet" href="{{furl '/css/addon.css'}}" type="text/css" />
    <meta id="token" content="{{token}}".>
</head>
<body class="aui-page-hybrid">
<section id="content" role="main">
    {{{body}}}
</section>
</body>
</html>
